<section class="ftco-section ftco-intro" style="background-image: url(https://res.cloudinary.com/tasit-com/images/c_scale,w_848,h_424,dpr_2/f_webp,q_auto/v1710158920/spor-araclar-1/spor-araclar-1.jpeg?_i=AA);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">Şimdi Arabalarımızın Gözalıcı Şıklığıyla Anılarınızı Süsleyin!</h2>
               
            </div>
        </div>
    </div>
</section>

